[Unit] Description=Alexa Screen Service
After=syslog.target network.target

[Service]
SyslogIdentifier=alexa
Type=simple
Restart=always
RestartSec=5
User=pi
Group=pi
UMask=0027
ExecStart=/home/pi/alexa-rpi/scripts/startscreen.sh
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
